<div>
    <div id="messages">

    </div>

    <script>

        let countMessages = 0;

        document.addEventListener('new-message', (message) => {
                let messagesElement = $("#messages");

                if (countMessages > 50) {
                    messagesElement.find(':first-child').remove();
                }

                messagesElement.append("<div>" + JSON.stringify(message.detail) + "</div>")

                window.scrollTo(0, document.body.scrollHeight);

                countMessages++;
            }
        )
    </script>
</div>