<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KorurgChat</title>
    <script type="text/javascript" src="/js/sockjs-1.6.1.js"></script>
    <script type="text/javascript" src="/js/stomp-2.3.3.js"></script>
    <script type="text/javascript" src="/js/jquery-3.6.1.js"></script>
</head>
<body>
<div th:utext="${templateToInject}"></div>
</body>
<script>
    var stompClient = null;

    function connect() {
        var socket = new SockJS('/chat');
        stompClient = Stomp.over(socket);

        stompClient.connect('', '', function () {
            console.log('Connected');
            stompClient.subscribe('/topic/messages', function (message) {

                const jsonMessage = JSON.parse(message.body);
                console.log(jsonMessage)

                document.dispatchEvent(new CustomEvent('new-message', {
                        detail: jsonMessage
                    }
                ));
            });
        }, function () {
            setTimeout(connect, 10000);
            console.log('reconnecting');
        });
    }

    window.onload = function () {
        connect()
    }
</script>
</html>